# SPDX-License-Identifier: Apache-2.0

# Board default configuration

if BOARD_M5STACK_ATOM_LITE

config BOARD
	default "m5stack_atom_lite"

# ESP32 specific configurations
if SERIAL

config UART_ESP32
	default y

endif # SERIAL

if GPIO

config GPIO_ESP32
	default y

endif # GPIO

endif # BOARD_M5STACK_ATOM_LITE
